extends layout

block content
  h1= title
  //- let horses=[{teamname:"Boston Bruins",country:"Boston",number_of_players:"11"},{teamname:"NewYork Rangers",country:"Newyork",number_of_players:"11"},{teamname:"Chicago Blackhawks",country:"Chicago",number_of_players:"11"}]
  - let horses = results
  div(class="container-fluid mt-3")
  div(class="row m-1" ) 
    each horse,index in horses
     - let destination = `dispatch(\"/horses/update?id=${horse._id}\")`
      div(class="col-sm-2  bg-success m-1 p-3" onclick=`buy(${index})`) #{horse.teamname} - #{horse.country} - #{horse.number_of_players}
        button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
    function dispatch(path){
      window.location.href=path
    }
